@charset "UTF-8";

 * { /*config globais das CSS*/
    font-family: Arial, Helvetica, sans-serif;
    
    }
   body {
     background-image: linear-gradient(to top,#adadad,#818181,
    #B1B5B5 85%);
   }

   main {
    background-color: #dadada;
    border-radius: 10Px;
    box-shadow: 5px 5px 15px rgba(75, 74, 74, 0.603);
    width: 460px;
    padding: 10%;
    margin: auto;
   }

   h1 {              
    color: #5a5a59;
    text-align: center;
    text-shadow: 2px 2px 4px #252525b7(78, 78, 78, 0.507);
    
   }
    
   h2 {
    color: #000000;
   }


   p {
    text-align: justify;
   }